<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Netflix Filmgenerator | Filmvorschlag</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('watchlist_vorschlag')}}">Anime Auswahl</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anime_hinzufuegen')}}">Anime hinzufügen</a>
                    </li>
                </ul>
            </nav>
        </header>

            <div class="container mt-5">
            <h1>Willkommen zum {{ vorschlag }}</h1>
                <p>Finde heraus auf welchen Film du heute lust hast.</p>
                <form>
                <br>
                <p>Möchtest du einen Film schauen, den du bereits gesehen hast?</p>

                     <div class="form-check">
                         <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                         <label class="form-check-label" for="exampleRadios1">
                             Ja
                         </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                          <label class="form-check-label" for="exampleRadios2">
                            Nein
                          </label>
                        </div>
                    <br>
                <p>Wie lange hast du Zeit?</p>

                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer1" value="option1" checked>
                          <label class="form-check-label" for="Dauer1">
                              1 Stunde
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer2" value="option2">
                          <label class="form-check-label" for="Dauer2">
                              1,5 Stunden
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer3" value="option3">
                          <label class="form-check-label" for="Dauer3">
                              2 Stunden
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer4" value="option4" checked>
                          <label class="form-check-label" for="Dauer4">
                              2,5 Stunden
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer5" value="option5">
                          <label class="form-check-label" for="Dauer5">
                              3 Stunden
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="Filmdauerkategorie" id="Dauer6" value="option6">
                          <label class="form-check-label" for="Dauer6">
                              3,5 Stunden
                          </label>
                      </div>
                <br>
                <p>Auf was hast du heute lust? <br> Wähle eine Zahl von 1 - 10 (1 sad = gar nichts trauriges / 10 sad = I wanna cry)</p>
                      <div>
                          <p>HAPPY</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                      <br>
                      <div>
                          <p>SAD</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                      <br>
                      <div>
                          <p>TENSION</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                      <br>
                      <div>
                          <p>ACTION</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                      <br>
                      <div>
                          <p>DRAMA</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                      <br>
                      <div>
                          <p>ROMANTIC</p>
                          <select class="form-control form-control-sm">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                          </select>
                      </div>
                     <br>
                     <button type="submit" class="btn btn-primary">senden</button>
                </form>
                <br>
            </div>
    </body>
</html>