<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Anime Diary | Anime hinzufügen</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>
    <body>
        <header>
            <nav id="main-nav">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('anime_auswahl')}}">Anime Auswahl</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anime_hinzufuegen')}}">Anime hinzufügen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('seriendauer')}}">Seriendauer</a>
                    </li>
                </ul>
            </nav>
        </header>
            {% block content %}
            {% endblock %}
    </body>
</html>