{% extends "Header.html" %}
{% block content %}
            <div class="container mt-5">
                <p>Füge einen neuen Anime hinzu.</p>
                <form method="POST">
                      <div class="form-group">
                        <label for="AnimeName">Wie heisst der Anime?</label>
                        <input type="text" name="animename" class="form-control" id="AnimeName" aria-describedby="NewAnime" placeholder="Animename eingeben">
                      </div>
                      <div class="form-group">
                        <label for="Erscheinungsjahr">Wann ist der Anime erstmals erschienen?</label>
                        <input type="text" name="erscheinungsjahr" class="form-control" id="Erscheinungsjahr" placeholder="Erscheinungsjahr eingeben">
                      </div>
                      <div class="form-group">
                        <label for="Dauer">Bitte gib die Anzahl der Folgen an.</label>
                        <input type="text" name="folgenanzahl" class="form-control" id="Dauer" aria-describedby="Dauer" placeholder="Folgenanzahl eingeben">
                      </div>
                    <br>
                     <button type="submit" class="btn btn-primary">senden</button>
                </form>
                <br>
            </div>
{% endblock %}