{% extends "Header.html" %}
{% block content %}
            <div class="container mt-5">
                <p>Bearbeite deinen Folgenstatus:</p>
                      <div class="form-group">
                        <label for="Dauer">Bitte gib die Anzahl der Folgen an.</label>
                        <input type="text" name="folgenanzahl" class="form-control" id="Dauer" aria-describedby="Dauer" placeholder="Folgenanzahl eingeben">
                      </div>
                    <br>
                     <button type="submit" class="btn btn-primary">senden</button>
                </form>
                <br>
            </div>
{% endblock %}